* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.nav-bar .menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    font-weight: 500;
    color: #000;
    
}
.nav-bar .menu a {
    text-decoration: none;
    list-style-type: none;
}
.nav-bar .first-btn {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    border: none;
    border-radius: 4px;
    line-height: 19px;
    background-color: #30B868;
    padding: 12px 16px;
    cursor: pointer;
}
.first-btn:hover {
  background: #c29e0c;
}
.hero-section {
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 155px 340px;
    /* margin: 0 auto;     */
}
.hero-section .dot {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #30B868;
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
    
}
.hero-section h6 {
    color: #30B868;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    width: 229px;
    height: 36px;
    text-align: center;
    display: inline;
    margin-bottom: 16px;
    vertical-align: middle;
}
.hero-content {
    align-items: center;
    vertical-align: middle;
    
}
.hero-section .hero-heding-title-1 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-align: center;

}
.hero-section .hero-heding-title-2 {
    color: rgba(48, 184, 104, 1);
    font-weight: 700;
    

}
.hero-content p {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}
.hero-btn {
    display: flex;
    gap: 16px;
    align-items: center;
}
.hero-btn .hero-btn-one {
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
}
.hero-btn .hero-btn-two {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: 12px 16px;
    background-color: transparent;

}
.note-heading h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    margin-bottom: 16px;
    color: #001931;
    
}
.note-heading p {
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 44px;
    color: #627382;
    
}
.note-card {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    

}
.note-card-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap ;
    align-items: center;
    border: none;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 16px; 
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    width: 322px;
    height: 300px;

}
.note-card img {
    background-color: rgba(249, 85, 85, 1);
    margin-bottom: 16px;
}
.note-card-box h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    color: #001931;
}
.note-card-box p {
  
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #627382;
}

.brain-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 120px;
}
.brain-section-image {
    border-radius: 12px;
    width: 600px;
    height: 600px;
}
.brain-section .menu {
    list-style-type: none;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #001931;
}
.brain-section-content h3 {
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-top: 102px;
}
.brain-section-content h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #001931;
    margin: 16px auto;

}
.brain-section-content p {
    font-weight: 400px;
    line-height: 20px;
    margin-bottom: 40px;
    
}
.early-access-section {
    background-color: rgba(251, 251, 251, 1);
    border-radius: 12px;
    padding: 80px 40px;
       
}
.early-access-section h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
    color: #001931;
}
.early-access-section p {
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    color: #627382;
}
.early-access-section .early-btn{
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    line-height: 19px;
    border-radius: 4px;
    padding: 12px 16px;
    border: none;
    margin-bottom: 16px;

}
.early-access-section .list-1 {
    list-style-type: none;
}
.early-access-section ul {
    display: flex;
    gap: 30px;
}